
body{
  background: #228B22;
  text-align: center;
}
.quality{
  color: orange;
  margin:10px;
}
#me{
  color: gold;
  font-size: 35px;
}
.bio{
  border: 5px solid purple;   
}
.section{
 
}
.quote{
  

}
